*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(img/hand-dra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    width: 20%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    background-color: white;
}

.row img{
 padding: 20px;
}

.row h2{
    border-bottom:1px solid  rgb(71, 21, 21);
    margin: 10px;
    margin-bottom: 20px;
}

.row p{
    padding: 20px;
    padding-bottom: 10px;
}

.row button{
    padding: 20px;
    margin-left: 10px;
    border:2px solid rgb(71, 21, 21);
    background-color: inherit;
    color: rgb(71, 21, 21);
    font-weight: bold;
    transition:all 0.2s ease-in-out;
}


.row button:hover{
    background-color: rgb(71, 21, 21);
    color: white;
}


.row a{
    text-decoration: none;
    color: rgb(71, 21, 21);
}




